/XP/RW/Data/
/XP/RW/reddit_alt/reddit_alt_30_f4_theta.npy
/XP/RW/reddit_alt/reddit_alt_30_f1_theta.npy
/XP/RW/reddit_alt/reddit_alt_30_beta_null_f1_theta.npy
/XP/RW/reddit_alt/reddit_alt_30_beta_null_f2_theta.npy
/XP/RW/reddit_alt/reddit_alt_30_f2_theta.npy
/XP/RW/reddit_alt/reddit_alt_30_f3_theta.npy
/XP/RW/reddit_alt/reddit_alt_30_beta_null_f4_theta.npy
/XP/RW/reddit_alt/reddit_alt_30_f0_theta.npy
/XP/RW/reddit_alt/reddit_alt_30_beta_null_f3_theta.npy
/XP/RW/reddit_alt/reddit_alt_30_beta_null_f0_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_f1_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_f4_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_beta_null_f3_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_f2_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_beta_null_f4_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_f3_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_f0_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_beta_null_f0_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_beta_null_f1_theta.npy
/XP/RW/lastfm_alt/lastfm_alt_30_beta_null_f2_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_f3_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_f4_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_beta_null_f2_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_f2_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_f1_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_beta_null_f0_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_beta_null_f4_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_f0_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_beta_null_f1_theta.npy
/XP/RW/wikipedia_alt/wikipedia_alt_30_beta_null_f3_theta.npy
